@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(255, 0, 234);
  --color-secondary: #1da1f2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
